---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
const pageTitle = "My Astro Learning BLog";
---
<BaseLayout pageTitle={pageTitle}>
	<p>Let's talk about Astro, I realy don't know it until the past week, I hope to learn how to build a page with it.</p>
	<ul>
		{ allPosts.map( (post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/> ) }
	</ul>
</BaseLayout>